body {
	background-color: #d1d5ff;
}

h1, h2, h3, h4, h5, h6, p, body {
	font-family: "Avenir";
	color: black;
}

body {
	font-size: 30px;
}

h1 {
	font-size: 35px;
	text-align: center;
}
input {
  height: 50px;
  width: 200px;
  margin-right: 20px;
  padding: 10px;
  font-size: 20px;
}

.form {
  margin-bottom: 40px;
}

.answer-text {
  font-size: 20px;
  color: black;
  font-family: 'Avenir';
}

div {
	text-align: center;
	padding-bottom: 30px;
}

img {
	padding-top: 20px;
}

button {
	font-size: 30px;
}
